{% extends 'base.html' %}
{% block body %}
<section class="section-container">
    <!-- Page content-->
      <div class="content-wrapper">
         <div class="content-heading">Your All meetings</div>
         <!-- START row-->
         <div class="row">
            {% if allmeeting %}
            <div class="col-xl-12">
                <!-- START card-->
                <div class="card card-default">
                   <!-- <div class="card-header">Demo Table #4</div> -->
                   <!-- START table-responsive-->
                   <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover">
                         <thead>
                            <tr>
                               <th>No.</th>
                               <th>Meeting Title</th>
                               <th>Notes</th>
                               <th>Action</th>
                            </tr>
                         </thead>
                         <tbody>
                            {% for meeting in allmeeting  %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{meeting.name | title}}</td>
                                 <td>
                                    <a href="{%url 'meeting:meetingnotes' meeting_id=meeting.id %}">
                                       <div class="badge bg-gray ">
                                          {{ meeting.notes_set.all.count }}
                                       </div>
                                    </a>
                                 </td>
                                 <td>
                                 <a class="btn btn-pill-left btn-dark" href="{% url 'meeting:meetingtext' meeting_id=meeting.id %}">Edit</a>&nbsp;<a class="btn btn-pill-right btn-warning" href="{% url 'meeting:deletemeeting' meeting_id=meeting.id %}" id="delete">Delete </a>                                        
                                </td>
                            </tr>

                            {% endfor %}
                         </tbody>
                      </table>
                   </div><!-- END table-responsive-->
                </div><!-- END card-->
             </div>  
             {% else %}
               <div class="offset-md-3 col-md-6">
                  <div class="alert alert-warning alert-dismissible text-center fade show" role="alert"><strong >Opps,</strong> Meeting does't exist..!! </div>
               </div> 
            {% endif %}      
         </div>
         <!-- END row-->
      </div>
   </section>    
{% endblock body %}


{% block script %}
   <script>

      $(document).ready(function(){
         $('#delete').click(function(){
            var result = confirm('Are you Sure to delete meeting?');
            if(result)
            {
               return true;
            }
            else 
            {
               return false;
            }
         });
      });
   </script>
{% endblock script %}
   