{% extends 'base.html' %}
{% load static  %}
{% block body %}
<section class="section-container">
   <!-- Page content-->
   <div class="content-wrapper">
      <div class="content-heading">Small Title To Your Meeting</div>
      <!-- START row-->
      <div class="row">
         <div class="offset-md-2 col-md-8">
            <div class="card card-default">
               <div class="card-header"> Give Your Meeting Name</div>
               <div class="card-body">
                  <form method="POST" name="savemeeting" id="savemeeting" action="{% url 'meeting:savemeeting' %}">
                     {%csrf_token%}
                     <div class="form-row align-items-center">
                        <div class="col-md-10 col-xs-12 col-sm-8">

                           {% for field in meetingname %}
                           {{field}}
                           {{field.errors}}
                           {% endfor %}
                           <p class="error"></p>
                        </div>
                        <div class="col-md-2 col-xs-4 col-sm-4"><button class="btn btn-primary mb-2"
                              type="submit">Continue</button></div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- END row-->
   </div>
</section>
{% endblock body %}

{% block script %}

<script>
   $('#id_name').blur(function(){
      let length = $(this).val().length;
      if(length<=6){
         $('.error').html('<b>Meeting Name should aleast 6 character</b>')
      }
   });/*
   $(document).ready(function () {
      var meeting_text = '';
      if ($('#id_meetingtext').val() == '' && localStorage.getItem('response_text') == null) {
         window.location.replace('all');
      }
      if (localStorage.getItem('response_text')) {
         obj = JSON.parse(localStorage.getItem('response_text'));
         for (txt of obj.response_text) { meeting_text += txt; }
         console.log('meeting text applied to field');
         $('#id_meetingtext').attr('value', meeting_text);
         localStorage.removeItem('response_text');
      }
   });
*/
</script>
{% endblock script %}