{% extends 'base.html' %}
{% block body %}
{% load static %}
<section class="section-container">
    <!-- Page content-->
      <div class="content-wrapper">
         <div class="content-heading">All Notes <u></u> </div>
         {% if allnotes %}             
         <!-- START row-->
         <div class="row">
            {% for notes in allnotes %}
            <div class="col-lg-4 col-sm-6">
                <div class="card card-default mb-3">
                    <div class="card-header">Note {{ forloop.counter }}
                        <a class="float-right" data-toggle="tooltip" title=""  data-tool="" data-original-title="Meeting: {{notes.meeting.name}}">
                            <em class="fas fa-users"></em>
                        </a>
                        <a class="float-right" data-toggle="tooltip" title="" data-tool=""  data-original-title="Shared by: {{notes.meeting.user}}">
                            <em class="fas fa-user"></em>
                        </a>
                        
                    </div>
                    <div class="card-body">
                        <!-- <h5 class="card-title">Card Default card title</h5> -->
                        <p class="card-text">{{notes.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
         </div>
         {% else %}
        <div class="offset-md-3 col-md-6">
          <div class="alert alert-warning alert-dismissible text-center fade show" role="alert"><strong >Opps,</strong> No once shared notes with you..!! once anyone will share notes, i will be display here. </div>
        </div> 
         {% endif %}
         <!-- END row-->
      </div>
   </section>    
    <!-- Modal -->
{% endblock body %}
{% block script %}
{% endblock script %}
   