{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="section-container">
    <!-- Page content-->
      <div class="content-wrapper">
         <div class="content-heading">Your All meetings</div>
         <!-- START row-->
         <div class="row">
            <div class="col-xl-12">
                <!-- START card-->
                <div class="card card-default">
                   <!-- <div class="card-header">Demo Table #4</div> -->
                   <!-- START table-responsive-->
                   <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover">
                         <thead>
                            <tr>
                               <th>Meeting Id</th>
                               <th>Meeting Title</th>
                               <th>Meeting completed ?</th>
                               <th>Action</th>
                            </tr>
                         </thead>
                         <tbody>
                            {% for meeting in allmeeting  %}
                            <tr>
                                <td>{{meeting.id}}</td>
                                <td>
                                    <a href="{% url 'meeting:meetingtext' meeting_id=meeting.id %}">
                                        {{meeting.name | title}}
                                    </a>
                                </td>
                                <td>
                                    <div class="badge badge-danger">{{meeting.completed}}</div>
                                </td>
                                <td>{% if meeting.completed %}
                                    <button class="btn btn-oval btn-warning" type="button">Edit Text</button>
                                {% else %}
                                <button class="btn btn-oval btn-success" type="button">Start Meeting</button>
                                {% endif %}
                                        
                                </td>
                            </tr>

                            {% endfor %}
                            <tr>
                               <td>Web Engine</td>
                               <td>
                                  <div data-sparkline="" data-bar-color="#7266ba" data-height="20" data-bar-width="5" data-bar-spacing="2" data-values="1,4,4,10,5,9,2" data-resize="true"><canvas style="display: inline-block; width: 47px; height: 20px; vertical-align: top;" width="47" height="20"></canvas></div>
                               </td>
                               <td>
                                  <div class="badge badge-success">Complete</div>
                               </td>
                            </tr>
                            <tr>
                               <td>Nullam sit amet</td>
                               <td>
                                  <div data-sparkline="" data-bar-color="#23b7e5" data-height="20" data-bar-width="5" data-bar-spacing="2" data-values="1,4,4,7,5,9,4" data-resize="true"><canvas style="display: inline-block; width: 47px; height: 20px; vertical-align: top;" width="47" height="20"></canvas></div>
                               </td>
                               <td>
                                  <div class="badge badge-warning">Delayed</div>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                   </div><!-- END table-responsive-->
                </div><!-- END card-->
             </div>        
         </div>
         <!-- END row-->
      </div>
   </section>    
{% endblock body %}
    